<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vietpro Mobile Shop - Administrator</title>
    
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/datepicker3.css" rel="stylesheet">
    <link href="../../public/css/bootstrap-table.css" rel="stylesheet">
    <link href="../../public/css/styles.css" rel="stylesheet">
    
    <!--Icons-->
    <script src="../../public/js/lumino.glyphs.js"></script>
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Phone</span>Shop</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="../../" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Hồ sơ</a></li>
                            <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                            
        </div><!-- /.container-fluid -->
    </nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="../../dashboard"><svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg> Dashboard</a></li>
        <li><a href="../../users"><svg class="glyph stroked male user ">
                    <use xlink:href="#stroked-male-user" />
                </svg>Quản lý thành viên</a></li>
        <li><a href="../../categories"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" />
                </svg>Quản lý danh mục</a></li>
        <li class="active"><a href="../../products"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Quản lý sản phẩm</a></li>
        <li><a href="../../comments"><svg class="glyph stroked two messages">
                    <use xlink:href="#stroked-two-messages" />
                </svg> Quản lý bình luận</a></li>
        <li><a href="../../ads"><svg class="glyph stroked chain">
                    <use xlink:href="#stroked-chain" />
                </svg> Quản lý quảng cáo</a></li>
        <li><a href="setting.html"><svg class="glyph stroked gear">
                    <use xlink:href="#stroked-gear" />
                </svg> Cấu hình</a></li>
    </ul>

</div>
<!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="../../"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li><a href="../../products">Quản lý sản phẩm</a></li>
            <li class="active">Sản phẩm số 1</li>
        </ol>
    </div><!--/.row-->
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sản phẩm: <%=product.name%></h1>
        </div>
    </div><!--/.row-->
    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form role="form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Tên sản phẩm</label>
                                    <input type="text" name="name" required class="form-control" value="<%=product.name%>"  placeholder="">
                                </div>
                                                                
                                <div class="form-group">
                                    <label>Giá sản phẩm</label>
                                    <input type="number" name="price" required value="<%=product.price%>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Bảo hành</label>
                                    <input type="text" name="warranty" required value="<%=product.warranty%>" class="form-control">
                                </div>    
                                <div class="form-group">
                                    <label>Phụ kiện</label>
                                    <input type="text" name="accessories" required value="<%=product.accessories%>" class="form-control">
                                </div>                  
                                <div class="form-group">
                                    <label>Khuyến mãi</label>
                                    <input type="text" name="promotion" required value="<%=product.promotion%>" class="form-control">
                                </div>  
                                <div class="form-group">
                                    <label>Tình trạng</label>
                                    <input type="text" name="status" required value="<%=product.status%>" type="text" class="form-control">
                                </div>  
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    <input type="file" name="thumbnail" >
                                    <br>
                                    <div>
                                        <img src="../../public//img/<%=product.thumbnail%>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Danh mục</label>
                                    <select name="cat_id" class="form-control">
                                        <%for(x in categories){%>
                                        <option <% if(product.cat_id==categories[x].id){%>selected <% } %> value="<%=categories[x]._id%>"><%=categories[x].title%></option>
                                        <%}%>
                                    
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <select name="is_stock" class="form-control">
                                        <option <% if(product.is_stock){%>selected <%}%>value=1>Còn hàng</option>
                                        <option <% if(!product.is_stock){%>selected <%}%>value=2>Hết hàng</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Sản phẩm nổi bật</label>
                                    <div class="checkbox">
                                        <label>
                                            <input name="featured" type="checkbox" value="on">Nổi bật
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea id="description" name="description" required class="form-control" rows="3"></textarea>
                                        <script>
                                            // Replace the <textarea id="editor1"> with a CKEditor 4
                                            // instance, using default configuration.
                                            CKEDITOR.replace("description");
                                            
                                        </script>
                                    </div>
                                <button type="submit" name="sbm" class="btn btn-primary">Cập nhật</button>
                                <button type="reset" class="btn btn-default">Làm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->
    
    </div>	<!--/.main-->
    <script src="../../public/js/jquery-1.11.1.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/bootstrap-table.js"></script>	
</body>

</html>