<!DOCTYPE html>
<html>
<head>
    <%- include("../layout/head", {title: "Trang chủ quản trị"})%>

</head>

<body>
    <%- include("../layout/header")%>
    <%- include("../layout/sidebar")%>
		
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách sản phẩm</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách sản phẩm</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
            <a href="/admin/products/create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">ID</th>
						        <th data-field="name"  data-sortable="true">Tên sản phẩm</th>
                                <th data-field="price" data-sortable="true">Giá</th>
                                <th>Ảnh sản phẩm</th>
                                <th>Trạng thái</th>
                                <th>Danh mục</th>
                                <th>Hành động</th>
						    </tr>
                            </thead>
                            <tbody>
                                <%for(x in products){%>
                                    <tr>
                                        <td style=""><%=x%></td>
                                        <td style=""><%=products[x].name%></td>
                                        <td style=""><%= new Intl.NumberFormat().format(products[x].price)%> VNĐ</td>
                                        <td style="text-align: center"><img width="130" height="180" src="../../public/img/<%=products[x].thumbnail%>" /></td>
                                       <td>
                                        <%if(products[x].is_stock){%>
                                        <span class="label label-success">còn hàng</span>
                                    
                                        <%}
                                        else{
                                        %>
                                        <span class="label label-danger">hết hàng</span>
                                        <%
                                        }
                                        %>
                                        </td>
                                        <td><%=products[x].cat_id.title%></td>
                                        <td class="form-group">
                                            <a href="/admin/products/edit/<%=products[x]._id%>" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <button class="btn btn-danger" onclick="del('<%=products[x]._id%>')" ><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                    </tr>
                                <%}%>
                                 </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <%if(page > 1){%>
                                <li class="page-item"><a class="page-link" href="/admin/products/?page=<%=page-1%>">&laquo;</a></li>
                                <%}%>
                                <%for(x in pages){%>
                                <li class="page-item"><a class="page-link" href="/admin/products/?page=<%=pages[x]%>"><%=pages[x]%></a></li>
                                 <%}%>       
                                <%if(page < totalPage){%>
                                 <li class="page-item"><a class="page-link" href="/admin/products/?page=<%=page+1%>">&raquo;</a></li>
                                <%}%>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<%- include("../layout/footer")%>
    <script>
        function del(linkPath) {
            $.ajax({
                url: 'delete/' + linkPath,
                type: "DELETE"
            })
            .then(data => {
                if (data) {
                    // console.log(typeof data);
                    alert("delete product successfully!");
                } else {
                    alert("Fail! NOT PERMITTION!");
                }
            })
            .catch(err => {
                alert("Error! Can't delete product!");
            })
        }
    </script>
</body>

</html>